<h1><%= @song.name %></h1> 

<%= link_to "All Songs", songs_path %><br>
<%= link_to "Edit Song", edit_song_path %><br>
<br>
<label>Artist:</label><br>
<%= (link_to @song.artist.name, artist_path(@song.artist))%><br> 
<br>
<label>Genre:</label><br>
<%= (link_to @song.genre.name, genre_path(@song.genre))%><br>

